<h1>Show</h1>
<%= @restaurant.name%>
<p>Localizado em: <%= @restaurant.address %></p>
<% @restaurant.reviews.each do |review|%>
<p> Rating: <%= review.rating %> stars</p>
<p>Feedback: <%= review.content %></p>
<% end %>
